.table {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.table tbody tr td,
.table tbody tr td.color0 {
  border: 1px solid #000;
  height: 30px;
  transition: 0.1s;
}

.table tbody tr td.color1 {
  background: #ffce26;
}

.table tbody tr td.color2 {
  background: #ff7d26;
}

.table tbody tr td.color3 {
  background: #ff2626;
}

.table tbody tr td.color4 {
  background: #45ff26;
}

.table tbody tr td.color5 {
  background: #26c4ff;
}

.table tbody tr td.color6 {
  background: #9626ff;
}

.table tbody tr td.color100 {
  background: #000;
}

.table tbody tr td.transparent {
  opacity: 0 !important;
  height: 1px !important;
}
.onlySP {
  display: none;
}
@media(max-width:500px) {
  .table {
    max-width: 250px;
  }
  .table tbody tr td{
    height: 15px!important;
  }
  .onlySP {
    display: flex;
  }
}